/*@import "css_reset.css";*/
.row {
    padding-top: 2rem;
}

.board-collapse{
    padding: 0;
    width: 100%;
}

#boards {
    background-color: green;
}

.newBoardTitleForm {
    padding: 0px;
}

.col-3.status {
    float:left;
}